<!DOCTYPE html>
<html>
<body>

<!-- <script type="text/javascript" src="{{ url_for('static', filename='player.js') }}"></script> -->


<div id='song_title'>Current Song:</div>

<div data-video="my_id"
         data-autoplay="1"
         data-loop="0"
         id="youtube-audio">
  </div>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>

<h1>Add Your Favorite Song!</h1>

<form id="youtube_link"> Enter a YouTube link: <input id="input" type="text" link="songlink"><br>

<br>
  <input type="button" onclick="submit_link()" value="Submit">
</form>

<div id="foo"></div>


<h4>Vote for your song!</h4>

<form id="youtube_link"> Enter Song Name: <input id="vote_song" type="text" link="songlink"><br>

<br>
  <input type="button" onclick="vote()" value="Submit">
</form>

<!-- MAP -->
<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Xw4am6lpo7dD0nGqsBIgMSa1thkGSDg"></script>
</head> 
<body>
  <div id="map" style="width: 1000px; height: 1000px;"></div>
  <p id="address"></p>
  <p id="error"></p>
  <p id="jukeBoxDistances"></p>
  <script type="text/javascript" src="/static/mapFunctions.js"></script>


</body>
</html>


<!-- <p id="demo"></p> -->
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ytparse.js') }}"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-database.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='firebase_interface.js') }}"></script>


<script>

var cur_box = "box1";

function vote() {
  voteSongName(cur_box, document.getElementById("vote_song").value)
}


function submit_link() {
    var vid_id = parseYTLink(document.getElementById("input").value);
    updateSong(cur_box, 'placeholder', vid_id, 1);
    changeTitle(vid_id, cur_box)
}

function makeUL(array) {
    // Create the list element:

    var list = document.createElement('ul');

    for(var i = 0; i < array.length; i++) {
        // Create the list item:
        var item = document.createElement('li');

        // Set its contents:
        // console.log(array[i]);
        item.appendChild(document.createTextNode(array[i]['name'] + "-- votes: " + array[i]['vote']));

        // Add it to the list:
        list.appendChild(item);
    }

    // Finally, return the constructed list:
    return list;
}

// Add the contents of options[0] to #foo:
songData(cur_box, populateList)

function populateList(data) {
  var myNode = document.getElementById("foo");
  while (myNode.firstChild) {
      myNode.removeChild(myNode.firstChild);
  }
  document.getElementById('foo').appendChild(makeUL(data));
}

var song;

// takes in a list of 10 songs and shuffles
function play_playlist(playlist) {

	// var playlist = [
	// 	{ name: 'hu waa waa', id: 'FAd2_gdkg-8' },
	// 	{ name: 'really n', id: 'rfsqEO-WQHc' },
	// 	{ name: 'nope', id: '3Y7aWLpuxA4' },
	// 	{ name: 'horn', id: '_asNhzXq72w' },
	// 	{ name: 'name is', id: '2D-ZO2rGcSA'},
	// 	{ name: 'leeroy', id: 'yOMj7WttkOA' },
	// 	{ name: 'gta', id: 'K3kFQHKE0LA' },
	// 	{ name: 'suspense', id: 'QEjxSLTe5_M' },
	// 	{ name: 'tadaah', id: 'jLtbFWJm9_M' },
	// 	{ name: 'shut up', id: 'AqcyQItOL9g' }
	// ];
	var current_song = Math.floor(Math.random() * playlist.length);
	// console.log(current_song);
	var current_id = playlist[current_song]['vid_id'];

	console.log(current_id);
	play_current_song(current_id);
  player.playVideo();
  togglePlayButton(true);
}

function play_current_song(song_id) {
	// song_id = 'UceaB4D0jpo';
  console.log(song_id);
  getTitle(updateTitle, song_id);
  // updateTitle("hi");
	document.getElementById("youtube-audio").setAttribute('data-video', song_id);
  // console.log(player);
  player.loadVideoById(song_id)
}

songData(cur_box, play_playlist);
// play_current_song('test');

var player;

  function onYouTubeIframeAPIReady() {

    var ctrlq = document.getElementById("youtube-audio");
    ctrlq.innerHTML = '<img id="youtube-icon" src=""/><div id="youtube-player"></div>';
    ctrlq.style.cssText = 'width:150px;margin:2em auto;cursor:pointer;cursor:hand;display:none';
    ctrlq.onclick = toggleAudio;

    player = new YT.Player('youtube-player', {
      height: '0',
      width: '0',
      videoId: ctrlq.dataset.video,
      playerVars: {
        autoplay: ctrlq.dataset.autoplay,
        loop: ctrlq.dataset.loop,
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });

  }

  function togglePlayButton(play) {
    document.getElementById("youtube-icon").src = play ? "https://i.imgur.com/IDzX9gL.png" : "https://i.imgur.com/quyUPXN.png";
    // if (play) {
    //   player.playVideo();
    //   togglePlayButton(true);
    // }
  }

  function toggleAudio() {
    if (player.getPlayerState() == 1 || player.getPlayerState() == 3) {
      player.pauseVideo();
      togglePlayButton(false);
    } else {
      player.playVideo();
      togglePlayButton(true);
    }
  }

  function onPlayerReady(event) {
    //event.target.setVolume(100);
    player.setPlaybackQuality("small"); //highres, hd1080, hd720, large, medium, small
    document.getElementById("youtube-audio").style.display = "block";
    togglePlayButton(player.getPlayerState() !== 5);
    // console.log(player.getVideoData());
    player.loadVideoById(document.getElementById("youtube-audio").getAttribute('data-video'));
    player.playVideo();
    togglePlayButton(true);
  }

  function onPlayerStateChange(event) {
    if (event.data === 0) {
    	songData(cur_box, play_playlist);
    	// player.setPlaybackQuality("small");
    	toggleAudio();
      // player.loadVideoById(document.getElementById("youtube-audio").getAttribute('data-video'));
      player.playVideo();
      togglePlayButton(true);

    }
  }

</script>

</body>
</html>