<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Xw4am6lpo7dD0nGqsBIgMSa1thkGSDg"></script>
</head> 
<body>
  <div id="map" style="width: 1000px; height: 1000px;"></div>
  <p id="address"></p>
  <p id="error"></p>
  <p id="jukeBoxDistances"></p>
  <script type="text/javascript" src="/static/mapFunctions.js"></script>


</body>
</html>
